button.btn-main {
    background: transparent;
    color: $brand-pink;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 0.8rem;
    margin-top: 1rem;
    border: 3px solid $brand-pink;
    cursor: pointer;
    @include transition(0.2s all ease-in-out);
    font-size: 0.7rem;
    letter-spacing: 1px;
    padding: 0.5rem 1rem;
    @include mq-md {
        font-size: 0.75rem;
        letter-spacing: 2px;
        padding: 0.5rem 1.25rem;
    }
    @include mq-lg {
        font-size: 0.8rem;
        letter-spacing: 2px;
        padding: 0.5rem 1.5rem;
    }
    &:hover {
        background: $brand-pink;
        color: $brand-white;
    }
    &.pink.outline {
        border: 3px solid $brand-pink;
        color: $brand-pink;
        &:hover {
            background: $brand-pink;
            color: $brand-white;
        }
    }
    &.white.outline {
        border: 3px solid $brand-white;
        color: $brand-white;
        &:hover {
            background: $brand-white;
            color: $brand-blue;
        }
    }
}