body {
  @include fontSmoothing;
}

h1,
h2,
h3,
h4,
h5,
h6,
  {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 800;
}

button {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

p {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: $brand-dark-grey;
  font-size: 1rem;
  line-height: 2rem;
}