header {
	.top-nav-container {
		@include make-container();
	}
	nav.top-nav {
		@include make-row();
		position: fixed;
		width: 100%;
		background: #2c2c2c;
		z-index: 100;
		padding: 0.5rem;
		min-height: 40px;
		@include mq-lg {
			min-height: 80px;
		}
		.logo {
			@include make-col-ready();
			@include make-col(6);
			@include mq-lg {
				margin-top: 0.3rem;
				@include make-col(1);
			}
		}
		a {
			text-decoration: none;
			i {
				font-size: 2rem;
				color: $brand-blue;
				@include transition(0.2s all ease-in-out);
				&:hover {
					color: darken($brand-blue, 5%);
				}
			}
		}
	}
	.navigation-icons {
		@include make-col-ready();
		@include make-col(11);
		text-align: right;
		display: none;
		@include mq-lg {
			display: block;
		}
	}
}

.nav {
	&.scrolled {
		padding: 0.5rem 0;
		min-height: 10px;
		transition: 0.35s all ease-in-out;
		li {
			padding: 0rem 0.5rem;
			transition: 0.2s all ease-in-out;
		}
		svg {
			max-width: 17px;
			transition: 0.2s all ease-in-out;
			&.svg-icon-logo {
				max-width: 13px;
			}
		}
		span {
			opacity: 0;
			visibility: hidden;
			transition: 0.2s all ease-in-out;
		}
	}
}

.navigation-icons {
	margin-top: 0.35rem;
	ul.nav-items {
		list-style: none;
		margin-bottom: 0;
		li.nav-item {
			display: inline-block;
			padding: 0rem 2rem;
			text-align: center;
			@include mq-sm {
				padding: 0rem 0.5rem;
			}
			a {
				color: $brand-dark-grey;
				display: block;
				text-decoration: none;
				i {
					height: 18px;
					width: 21px;
					display: inline-block;
					vertical-align: middle;
					@include mq-sm {
						height: 20px;
						width: 25px;
					}
				}
				span {
					color: $brand-dark-grey;
					display: inline-block;
					vertical-align: middle;
					text-transform: uppercase;
					letter-spacing: 0.1rem;
					font-size: 0.6rem;
					font-weight: 700;
					margin-bottom: -0.45rem;
					&.active {
						color: $brand-blue;
					}
				}
			}
			&:hover {
				&>a>i {
					color: $brand-blue;
					transition: all 0.1s ease-in-out;
					cursor: pointer;
				}
				a>span {
					color: $brand-blue;
					cursor: pointer;
				}
			}
			&.active {
				a>i,
				a>span {
					color: $brand-blue;
				}
			}
		}
	}
}

.nav-icon {
	fill: $brand-dark-grey;
	transition: all 0.1s ease-in-out;
	&:active {
		fill: $brand-blue;
	}
}

.main-nav-icon.active {
	svg {
		.nav-icon {
			fill: $brand-blue;
		}
	}
}

.social-icon {
	fill: $brand-grey;
	&:hover {
		fill: $brand-blue;
		transition: all 0.1s ease-in-out;
		cursor: pointer;
	}
}

.social-media-icons {
	margin-top: -4rem;
	max-height: 22px;
	ul {
		list-style: none;
		li {
			display: inline-block;
			padding: 0rem 0.5rem;
		}
	}
	svg {
		&:hover>.social-icon {
			fill: $brand-blue;
			transition: all 0.1s ease-in-out;
			cursor: pointer;
		}
	}
}

.mobile-nav-toggle {
	@include make-col-ready();
	@include make-col(6);
	text-align: right;
	margin-top: 0.35rem;
	i {
		color: $brand-dark-grey;
		font-size: 1.5rem;
	}
}

.mobile-nav {
	position: fixed;
	width: 100%;
	height: 100%;
	background: $brand-blue;
	z-index: 500;
	opacity: 0;
	z-index: -1;
	right: -100%;
	@include transition(0.2s all ease-in-out);
	@include mq-lg {
		display: none;
	}
	&.active {
		opacity: 1;
		z-index: 500;
		right: 0;
	}
	.mobile-nav-container {
		padding: 2rem;
		position: relative;
		.navigation {
			ul {
				list-style: none;
				li {
					padding: 1rem 0;
					a {
						text-transform: uppercase;
						letter-spacing: 3px;
						color: $brand-white;
						font-weight: 500;
						i {
							color: $brand-white;
						}
					}
				}
			}
		}
		.close-mobile-nav {
			top: 2rem;
			right: 2rem;
			position: absolute;
			i {
				color: $brand-white;
			}
		}
	}
}