.skills-and-passions {
  background: $brand-blue;
  padding: 2rem;
  @include mq-md {
    padding: 3rem;
  }
  @include mq-lg {
    padding: 5rem;
  }
  .skills-and-passions-container {
    @include make-container();
    h2 {
      color: $brand-white;
      text-align: center;
      margin-bottom: 1rem;
    }
    .skills {
      @include make-row();
      .skill {
        @include make-col-ready();
        @include make-col(12);
        text-align: center;
        @include mq-md {
          @include make-col(6);
        }
        @include mq-lg {
          padding: 2rem;
          @include make-col(4);
        }
        i {
          color: $brand-white;
          font-size: 2rem;
        }
        h3 {
          font-size: 1.35rem;
        }
        h3,
        p {
          color: $brand-white;
        }
        p {
          font-weight: 500;
        }
      }
    }
  }
}