.skills-and-passions {
  background: $brand-blue;
  padding: 5rem;
  .skills-and-passions-container {
    @include make-container();
    h2 {
      color: $brand-white;
      text-align: center;
      margin-bottom: 5rem;
    }
    .skills {
      @include make-row();
      .skill {
        @include make-col-ready();
        @include make-col(4);
        text-align: center;
        padding: 2rem;
        i {
          color: $brand-white;
          font-size: 2rem;
        }
        h3,
        p {
          color: $brand-white;
        }
        p {
          font-weight: 500;
        }
      }
    }
  }
}
