section.project-detail-container {
  @include make-container();
  .project-detail {
    @include make-row();
    .project-detail-header {
      text-align: center;
      @include make-col-ready();
      @include make-col(12);
      margin: 0 auto;
      padding: 10rem 0 5rem 0;
      border-bottom: 1px solid $brand-light-grey;
      h1 {
        font-size: 1.75rem;
        color: $brand-dark-grey;
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 800;
      }
      p.built-with {
        margin-bottom: 2rem;
        color: $brand-light-grey;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1.125rem;
        font-weight: 500;
      }
      hr {
        border-top: 1px solid #eee;
        margin-top: 4rem;
      }
      button.live-site-btn {
        @include transition(0.2s all ease-in-out);
        font-weight: 500;
        font-size: 0.7rem;
        letter-spacing: 0.1rem;
        padding: 0.3rem 0.8rem;
        text-transform: uppercase;
        color: $brand-pink;
        border: 2px solid $brand-pink;
        background: none;
        border-radius: 18rem;
        &:hover {
          color: white;
          cursor: pointer;
          background: $brand-pink;
        }
      }
    }
    .project-detail-content {
      padding-top: 5rem;
      background: $brand-white;
      overflow: hidden;
      padding: 5rem;
      .project-content {
        @include make-col-ready();
        @include make-col(6);
        margin: 0 auto;
        h6 {
          margin-top: 2rem;
        }
        .project-video-player {
          margin: 1rem 0;
          iframe {
            width: 100%;
            height: 500px;
          }
        }
        .project-image {
          img {
            margin-top: 1rem;
            max-width: 100%;
          }
        }
        .project-gallery {
          margin-top: 2rem;
          ul {
            list-style: none;
            @include make-row();
            padding: 0;
            li {
              @include make-col-ready();
              @include make-col(6);
              margin: 1rem 0;
              img {
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }
}