@import './partials/base';
// Global
html,
body {
  overflow-x: hidden;
}

button {
  border: none;
}

.intro {
  @include make-col-ready();
  padding-top: 6rem;
  padding-bottom: 3rem;
  text-align: center;
  margin: 0 auto;
  @include make-col(11);
  @include mq-md {
    @include make-col(10);
  }
  @include mq-lg {
    @include make-col(7);
  }
  h1 {
    color: $brand-black;
    padding: 2rem 0;
    text-align: center;
    font-weight: 800;
    font-size: 2.25rem;
    letter-spacing: 0.85rem;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}